

/*mapa*/

.Mapcontainer {
  display: flex;
  height: 100%;
  width: 100%;
}

.containterActions {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 9999;
  margin-left: 55px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.nuevaCaja {
  background: linear-gradient(135deg, #4a90e2, #357ABD);
  padding: 5px;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  width: 120px;
}

.cancelarCaja {
  background: linear-gradient(135deg, #e24a4a, #bd3535);
  padding: 5px;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  width: 120px;
}



.leaflet-tooltip.triangle-label {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-shadow: 1px 1px 2px black;
  white-space: nowrap;
  pointer-events: none;
}

.mensajeFlotante {
  position: fixed;
  bottom: 5px;
  margin: 5px;
  background-color: rgba(0, 128, 0, 0.575);
  /* verde claro transparente */
  color: rgb(245, 245, 245);
  padding: 10px 15px;
  border-left: 5px solid green;
  border-radius: 6px;
  font-weight: bold;
  z-index: 9999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/*

*/


.modalMapa {
  z-index: 9999;

  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 90%;
  overflow-y: auto;
  overflow-x: none;
  padding-right: 3px;
  scroll-behavior: smooth;
}


.gridOpciones {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}




.modalMapa::-webkit-scrollbar {
  width: 8px;
}

.modalMapa::-webkit-scrollbar-track {
  background: transparent;
}

.modalMapa::-webkit-scrollbar-thumb {
  background-color: #2c5aa0;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: background-color 0.3s;
}

.modalMapa::-webkit-scrollbar-thumb:hover {
  background-color: #4a90e2;
}

.tileOpcion {
  width: 50px;
  height: 50px;
  border-radius: 3px;
  border: 3px solid #357ABD;
  cursor: pointer;
  /* padding: 1px; */
  background: #357ABD;
}

.tileOpcion img {
  width: 100%;
}

.tipoNodoTitle {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #333;
}

.labelTipoNodo {
  margin-bottom: 5px;
}

.selectTipoNodo {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 15px;
  color: #333;
  cursor: pointer;
  margin-top: 5px;
}

.option {
  padding: 5px;
  border-radius: 3px;
  background-color: #f0f4f8;
  color: #333;
  cursor: pointer;
}

.containerTipoNodoModal {
  background-color: #fff;
  padding: 8px 15px 15px 15px;
  border-radius: 4px;

}

.modalConexion {
  width: 280px;
}


.popupContent {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.tipoNodoTitlePopup {
  text-align: center;
  padding-bottom: 10px;
  font-weight: 500;
  color: #333;
}

.casperData {
  display: flex;
  gap: 2px;
  padding: 0 0 10px 0;
}

.casperDataTitle {
  font-weight: 500;
}

.casperDataValue {
  font-weight: bold;
}

.agregarCliente {
  background: linear-gradient(135deg, #4a90e2, #357ABD);
  padding: 5px;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  width: 120px;
}

.agregarClienteContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mb {
  margin-top: 5px;
}

