/* Reset y base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.leaflet-marker-icon.icono-resaltado {
  box-shadow: 0 0 15px 5px rgb(66, 12, 12);
  border-radius: 50%;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(135deg, #f0f4f8, #d9e2ec);
}

/* Estilo del contenedor de login */

.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
}

.login-container {
  width: 100%;
  max-width: 360px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(12px);
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.082);
  border: 1px solid rgba(255, 255, 255, 0.4);
  transition: all 0.3s ease;
  margin-top: 50px;
}

.login-form {
  display: flex;
  flex-direction: column;
  min-width: 250px;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #2e3a59;
}

.login-form input {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 1rem;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.login-form input:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.2);
}

.login-form button {
  background: linear-gradient(135deg, #4a90e2, #357ABD);
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-form button:hover {
  background: linear-gradient(135deg, #357ABD, #2c5aa0);
}

.login-form button:disabled {
  background: #9fb3c8;
  cursor: not-allowed;
}

.error-message {
  color: #d9534f;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}



/*header*/

.Header {
  width: 100%;
  background-color: #2e3a59;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: end;
  gap: 10px;
}

.Header h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.logo {
  width: 50px;
  border-radius: 50%;
  padding: 5px;
}


/*mapa*/

.Mapcontainer {
  display: flex;
  height: 100%;
  flex: 1;
}

.containterActions {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 9999;
  margin-left: 55px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.nuevaCaja {
  background: linear-gradient(135deg, #4a90e2, #357ABD);
  padding: 5px;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  width: 120px;
}

.cancelarCaja {
  background: linear-gradient(135deg, #e24a4a, #bd3535);
  padding: 5px;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  width: 120px;
}



.leaflet-tooltip.triangle-label {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-shadow: 1px 1px 2px black;
  white-space: nowrap;
  pointer-events: none;
}

.mensajeFlotante {
  position: fixed;
  bottom: 5px;
  margin: 5px;
  background-color: rgba(0, 128, 0, 0.575);
  /* verde claro transparente */
  color: rgb(245, 245, 245);
  padding: 10px 15px;
  border-left: 5px solid green;
  border-radius: 6px;
  font-weight: bold;
  z-index: 9999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/*

*/


.modalMapa {
  z-index: 9999;

  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 90%;
  overflow-y: auto;
  overflow-x: none;
  padding-right: 3px;
  scroll-behavior: smooth;
}


.gridOpciones {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}




.modalMapa::-webkit-scrollbar {
  width: 8px;
}

.modalMapa::-webkit-scrollbar-track {
  background: transparent;
}

.modalMapa::-webkit-scrollbar-thumb {
  background-color: #2c5aa0;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: background-color 0.3s;
}

.modalMapa::-webkit-scrollbar-thumb:hover {
  background-color: #4a90e2;
}

.tileOpcion {
  width: 50px;
  height: 50px;
  border-radius: 3px;
  border: 3px solid #357ABD;
  cursor: pointer;
  /* padding: 1px; */
  background: #357ABD;
}

.tileOpcion img {
  width: 100%;
}

.tipoNodoTitle {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #333;
}

.labelTipoNodo {
  margin-bottom: 5px;
}

.selectTipoNodo {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 15px;
  color: #333;
  cursor: pointer;
  margin-top: 5px;
}

.option {
  padding: 5px;
  border-radius: 3px;
  background-color: #f0f4f8;
  color: #333;
  cursor: pointer;
}

.containerTipoNodoModal {
  background-color: #fff;
  padding: 8px 15px 15px 15px;
  border-radius: 4px;

}

.modalConexion {
  width: 280px;
}


.popupContent {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.tipoNodoTitlePopup {
  text-align: center;
  padding-bottom: 10px;
  font-weight: 500;
  color: #333;
}

.casperData {
  display: flex;
  gap: 2px;
  padding: 0 0 10px 0;
}

.casperDataTitle {
  font-weight: 500;
}

.casperDataValue {
  font-weight: bold;
}

.agregarCliente {
  background: linear-gradient(135deg, #4a90e2, #357ABD);
  padding: 5px;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  width: 120px;
}

.agregarClienteContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mb {
  margin-top: 5px;
}

/*modalAgregarCliente*/

.modalAgregarCliente {}

.casperFormAdddClient {
  z-index: 200001;
}

.agregarClienteModal {
  background-color: #fff;
  border-radius: 4px;

  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 500px;
  border: 1px solid #d3d3d3;
}

.agregarClienteModal h2 {
  font-size: 20px;
  color: #333;
  font-weight: 500;
}

.formGroup {}

.formGroup input {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 15px;
  color: #333;
  cursor: pointer;
  margin-top: 5px;
}

.formGroupBuscarCliente {
  display: flex;
  justify-content: center;
  border: 1px solid #d9e2ec;
  margin: 5px 0 5px 0;
  border-radius: 4px;
}

.formGroupBuscarCliente input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  background-color: #fff;
  font-size: 15px;
  color: #333;
  cursor: pointer;
}

.buscarClientBtn {
  background: linear-gradient(135deg, #4a90e2, #357ABD);
  cursor: pointer;
  border: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 0px 4px 4px 0px;
}

.containerResultadoBuscarCliente {
  padding: 5px 10px 10px 10px;
  border-radius: 4px;
}

.resultadoBuscarCliente {
  max-height: 500px;
  overflow-y: auto;
}

.dataClient {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
  padding: 0.4rem;
}

.dataClient {
  color: rgb(68, 68, 68);
}

.totalEncontrados {
  font-weight: 500;
  color: #333;
  margin-bottom: 5px;
}


.dataONU{
  margin: 0.4rem 0 0.4rem 0;
  padding: 0.4rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/*articleSplitters*/

.articleSplitters {
  background-color: #f3f3f3;
  padding: 1rem;
  border-radius: 4px;
}

.containterBtnClose {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.containterBtnClose h2{
  font-size: 23px;
  color: #333;
  font-weight: 500;
}

.containterBtnClose button {
  background: linear-gradient(135deg, #e24a4a, #bd3535);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.4rem 0.8rem;
  font-size: 14px;
  cursor: pointer;
}

.clientesConectados {
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid #d3d3d3;
  margin-bottom: 0.6rem;
}

.clientesConectados h2 {
  font-size: 20px;
  color: #333;
  font-weight: 500;
}

.containerClientesSplitter{
  display: flex;
  gap: 5px;
}