.articleNuevoCliente {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.445);
  width: 100%;
  z-index: 200000;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: start;
}


.modalNuevoCliente {
  background-color: #f3f3f3;
  padding: .3rem .5rem .5rem .5rem;
  border-radius: 4px;
  position: absolute;
  z-index: 9999;
  max-height: 88vh;
  margin-top: 2rem;
}

.headerNuevoCliente {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
}

.headerNuevoCliente button {
  background: linear-gradient(135deg, #e24a4a, #bd3535);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: .2rem .4rem;
  font-size: .6rem;
  cursor: pointer;
}

.headerNuevoCliente h2 {
  font-size: clamp(1.2rem, 2vw, 1.2rem);
  color: #333;
  font-weight: 500;
}

.modalNuevoCliente form {
  background-color: #fff;
  border-radius: 4px;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  border: 1px solid #d3d3d3;
  width: 100%;
}

.modalNuevoCliente form input {
  width: 100%;
  padding: .2rem;
  border-radius: 4px;
  border: none;
  background-color: #fff;
  font-size: clamp(.8rem, .9vw, .9rem);
  color: #333;
  border: 1px solid #d9e2ec;
}

.form-group label {
  font-size: clamp(.8rem, .9vw, .9rem);
}

.btnConfirmar {
  padding: 6px 14px;
  font-size: clamp(.75rem, 1vw, .95rem);
  border: none;
  border-radius: 8px;
  background-color: #1976d2;
  color: #fff;
  cursor: pointer;
  transition: .2s ease-in-out;
  width: fit-content;
}